.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.rounded-full {
  border-radius: 50%;
}
